.modal img{
    width: 30px;
}
.modal{
    display: flex;
    justify-content: space-around;
    width: 70%;
    background-color: #ddd;
    padding: 20px;
}
.modal .user-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}