.modal img{
    width: 50px;
}
.modal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: #ddd;
    padding: 20px;
}
.modal .user-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}